@import "tailwindcss";
@import "flowbite/src/themes/default";
@import "@fontsource/roboto";
@import '@fontsource/rammetto-one';


@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

*{
    position: relative;
}

.hidden {
    display: none;
  }

  @theme{
    --font-sans: 'roboto','sans-serif';
    --font-mono: 'rammetto-one', 'SFMono-Regular';
  }