---
import Layout from "../layouts/Layout.astro";
import {getCategoriesArray} from '../scripts/getCategoriesArray'
import { getPostsArrayFromCategory } from "../scripts/getPostsFromCategory";
import AllArticles from "../components/AllArticles.astro";

export async function getStaticPaths() {
    var categories = await getCategoriesArray("http://whellworks.local/");

  return categories.map(({ category, name, id }) => {
    return {
      params: { category },
      props: { name, id },
    };
  });
}

const { name, id } = Astro.props;
---

<Layout>
  <h1>{name}</h1>
  <AllArticles categoryId={id}/>
</Layout>
