---
import Layout from "../layouts/Layout.astro";
import { getPostsArray } from "../scripts/scripts.js";
const apiUrl = 'http://igor.z0fil5dsgi-xlm41ok1r6dy.p.temp-site.link/';

// const apiUrl = import.meta.env.WORDPRESS_REST_API_URL;

export async function getStaticPaths() {
  var posts = await getPostsArray('http://igor.z0fil5dsgi-xlm41ok1r6dy.p.temp-site.link/');


  return posts.map(({ slug, photoUrl, title, content }) => {
    return {
      params: { slug },
      props: { photoUrl, title, content },
    };
  });
}

const { photoUrl, title, content } = Astro.props;
---


<Layout>
  <div class="w-full flex justify-center items-center flex-col">
    <img class="aspect-3/2 object-cover w-250 m-10 rounded-3xl shadow-2xl" src={photoUrl}>
    <div class="w-250 slug">
      <h1 class="mb-3 text-4xl font-bold tracking-tight text-black">{title}</h1>
      <p class="mb-2 " set:html={content}></p>
    </div>
  </div>
</Layout>

<style>
  .slug{
    font-size:1.2rem;
  }

  .slug h3{
    color: red;
  }
</style>

