---
import { getPostsArray } from "../scripts/getPostsArray.js";

import Search from "astro-pagefind/components/Search";

import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import AllArticles from "../components/AllArticles.astro";

const posts = getPostsArray("http://whellworks.local/");
---

<Layout>
  <!-- <Header /> -->

  <Search
    id="search"
    className="pagefind-ui"
    uiOptions={{ showImages: false }}
  />

  <h1>test1</h1>
  <h1>test2</h1>

  <!-- <pre> {posts}</pre> -->
  <!-- <AllArticles /> -->
</Layout>
