---
import Article from "./Article.astro";
import { getPostsArray } from "../scripts/getPostsArray.js";

type propertys = {
  slug: string;
  photoUrl: string;
  title: string;
  content: string;
};

var items = await getPostsArray('http://whellworks.local/');

// const items = [
//   {
//     slug: "test1",
//     photoUrl: "test2",
//     title: "test3",
//     content: "test1",
//   },
// ];

---

<body>
  <div class="container mx-auto">
    {
      items.map((item: propertys) => (
        <Article
          slug ={item.slug}
          photoUrl ={item.photoUrl}
          title={item.title}
          content={item.content}
        />
      ))
    }
  </div>
</body>
<style>
  .container {
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
  }
</style>
