---

import Image from "astro/components/Image.astro";
const {
  title = "test",
  slug,
} = Astro.props;
---
<div class="flex items-center justify-center w-55 ">
    <a class="flex flex-col justify-center items-center bg-[#354eaf] w-50 hover:w-55 h-11 hover:h-12 shadow-2xs text-[1.3rem] hover:text-[1.5rem] ease-in duration-300"
    href={`/category/${slug}/`}>
        <h1 class=" font-[bungee] font-light m-2 ">{title}</h1>
        <!-- <Image class="mb-4 rounded-lg" src={imageUrl} alt="test" width="250" height="1/" /> -->
    </a>
</div>


