---
import {getCategoriesArray} from '../scripts/scripts'
import {WORDPRESS_REST_API_URL} from  'astro:env/client';



type propertys = {
  category: string;
  name: string;
  id: number;
};

var categories = await getCategoriesArray(WORDPRESS_REST_API_URL);
---

<nav
  class="bg-white dark:bg-gray-900 fixed w-full z-20 top-0 start-0 border-b border-gray-200 dark:border-gray-600 "
>
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-3"
  >
    <a
      href="/"
      class="flex items-center space-x-3 rtl:space-x-reverse ml-1 "
    >
      <span
        class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white "
        >WheelWorks.com</span
      >
    </a>
    <div class="flex md:order-1">
      <ul
        class="flex flex-row p-0 mt-0 mr-1 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
      >
        <li>
          <a
            href="/"
            class="md:block py-2 px-3 text-white bg-blue-700 rounded-sm md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500  max-sm:hidden sm:hidden"
            aria-current="page">Home</a
          >
        </li>
        <li>
          <button
            id="dropdownNavbarLink"
            data-dropdown-toggle="dropdownNavbar"
            class="flex items-center justify-between w-full py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto dark:text-white md:dark:hover:text-blue-500 dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent"
            >Categories <svg
              class="w-2.5 h-2.5 ms-2.5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 10 6"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 4 4 4-4"></path>
            </svg></button
          >
          <!-- Dropdown menu -->
          <div
            id="dropdownNavbar"
            class=" hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44 dark:bg-gray-700 dark:divide-gray-600"
          >
            <ul
              class="z-100 py-2 text-sm text-gray-700 dark:text-gray-400"
              aria-labelledby="dropdownLargeButton"
            >
              {
                categories.map((item : propertys) => (
                  <li class="z-100">
                    <a href={`/category/${item.category}/`}class=" block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">{item.name}</a>
                  </li>
                ))
              }
            </ul>
          </div>
        </li>
        <li></li>
      </ul>
    </div>
  </div>
</nav>
