---
import { getCategoriesArray } from "../scripts/scripts";
import { WORDPRESS_REST_API_URL } from "astro:env/client";
import "@fontsource/bungee";

// import '@fontsource/rammetto-one';

type propertys = {
  category: string;
  name: string;
  id: number;
};

var categories = await getCategoriesArray(WORDPRESS_REST_API_URL);
---

<nav
  class="bg-[#416644] shadow-2xs fixed w-full z-20 top-0 start-0"
>
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto"
  >
    <a
      href="/"
      class="flex items-center justify-center h-13 w-80 space-x-3 rtl:space-x-reverse"
    >
      <h1
        class="title text-[#e6e5d8] font-[bungee] 2xs items-end justify-center duration-200 self-center text-[1.7rem] over:text-[1.8rem] font-medium whitespace-nowrap"
      >
        WheelWorks.com
      </h1>
    </a>
    <div class="flex md:order-1">
      <ul class="flex gap-10">
        <li>
          <a
            href="/"
            class="text-[#e6e5d8] font-[bungee] md:block font-light text-[1.2rem] py-2 px-3 max-sm:hidden sm:hidden bg-transparent"
            aria-current="page">Home</a
          >
        </li>
        <li>
          <button
            id="dropdownNavbarLink"
            data-dropdown-toggle="dropdownNavbar"
            style="
      font-family: "
            class="bg-[#416644] text-[#e6e5d8] font-[bungee] flex items-center justify-between w-full py-2 px-3 text-[1.2rem]"
            >Categories <svg
              class="w-2.5 h-2.5 ms-2.5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 10 6"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 4 4 4-4"></path>
            </svg></button
          >
          <!-- Dropdown menu -->
          <div
            id="dropdownNavbar"
            class="bg-[#416644] hidden font-medium divide-y divide-gray-100 rounded-lg shadow-sm w-44"
          >
            <ul
              style="color: #e6e5d8;
      font-family: 'bungee', system-ui"
              class="z-100 py-2 text-sm "
              aria-labelledby="dropdownLargeButton"
            >
              {
                categories.map((item: propertys) => (
                  <li class="z-100">
                    <a
                      href={`/category/${item.category}/`}
                      class=" block px-4 py-2 "
                    >
                      {item.name}
                    </a>
                  </li>
                ))
              }
            </ul>
          </div>
        </li>
        <li></li>
      </ul>
    </div>
  </div>
</nav>