---
import BigArticle from "./BigArticle.astro";
import { Navigation, Pagination } from 'swiper/modules';
import { WORDPRESS_REST_API_URL } from "astro:env/client";


const newPosts = await fetch(
  `${WORDPRESS_REST_API_URL}wp-json/wp/v2/posts?_embed`
);
const newPostsJson = await newPosts.json();
---

<main class="relative h-full max-h-[20rem] sm:max-h-[31rem] lg:max-h-[37rem] min-[1900px]:max-h-[80rem]">
  <swiper-container
    class="mySwiper"
    init="true"
    modules={[Navigation, Pagination]}
    pagination="true"
    speed="800"
    pagination-clickable="true"
    centered-slides="true"
    space-between="120"
    slides-per-view="2"
    autoplay-delay="4000"
  >
    {
      newPostsJson.map((post) => (
        <swiper-slide>
          <BigArticle title={post.title.rendered}
            description={post.content.rendered}
            photoUrl={
              post._embedded?.["wp:featuredmedia"]?.[0]?.source_url ||
              "/placeholder.webp"} />
        </swiper-slide>
      ))
    }
  </swiper-container>
  <script src="../../swiper-init.js" defer></script>

</main>

<style>

  swiper-container {
    width: 100%;
    height: 100%;
  }

  swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1);
    transition: all 0.8s ease;
  }

  .swiper-slide-active {
    transform: scale(1.15);
    transition: all 0.8s ease;
    z-index: 100;
  }
</style>