---
const { postsArray } = Astro.props;
import BigArticle from "./BigArticle.astro";
// src/components/SwiperCarousel.astro
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";
---

<div class="swiper-container mx-auto h-full max-w">
  <div class="swiper-wrapper w-50 h-full aspect-video">
    {
      postsArray.map((post) => (
        <div class="swiper-slide flex">
          <BigArticle
            title={post.title.rendered}
            description={post.content.rendered}
            photoUrl={
              post._embedded?.["wp:featuredmedia"]?.[0]?.source_url ||
              "/placeholder.webp"
            }
          />
        </div>
      ))
    }
  </div>

  <!-- Navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- Pagination -->
  <div class="swiper-pagination"></div>
</div>

<script>
  import Swiper from "swiper";
  import { Navigation, Pagination, Autoplay } from "swiper/modules";

  // Initialize Swiper
  const swiper = new Swiper(".swiper-container", {
    modules: [Navigation, Pagination, Autoplay],

    // Navigation
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },

    // Pagination
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },

    // Autoplay
    autoplay: {
      delay: 300000,
      disableOnInteraction: false,
    },

    // Other options
    loop: true,
    spaceBetween: 10,
    slidesPerView: 1,
  });
</script>

<style>
  /* Optional: Custom styles for navigation and pagination */
  .swiper-button-prev,
  .swiper-button-next {
    color: #333;
  }

  .swiper-pagination-bullet-active {
    background-color: #333;
  }
  .swiper-slide {
    padding: 2.5rem;
  }

  .swiper-container {
    /* height: 100%; */
  }
</style>
